@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito&display=swap");
.hide {
  display: none;
}
* {
  font-family: "Nunito";
}
body {
  background-color: #b8b8b8;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-direction: column;
}
#preview {
  background-color: #f7f7f7;
  width: 65em;
  border-radius: 5px;
  padding: 30px 25px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
code {
  font-family: "Inconsolata";
  background-color: #e2e2e2;
  padding: 3px 5px;
  border-radius: 5px;
}
h1 {
  margin: 0;
}

#encode-modal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all 150ms ease-in-out;
  z-index: 1;
}
#modal-backdrop {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #22222220;
}
#modal-body {
  position: relative;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-height: 45vh;
  overflow: visible;
  overflow-y: auto;
  width: 40em;
}
#encode-modal.visible {
  opacity: 1;
  pointer-events: all;
}
#text-input {
  border: #cecece 1px solid;
  resize: none;
  margin: 20px 0;
}

#clipboard-button {
  margin: auto;
}
#success {
  width: 40em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  display: none;
}
#success.visible {
  display: flex;
}
#link {
  width: inherit;
  word-wrap: break-word;
  font-size: 0.4em;
  margin-bottom: 40px;
}
#close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  color: #222222;
  font-size: 1.2em;
  font-family: "nunito";
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  padding: 10px;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-row img {
  position: absolute;
  right: 0.4em;
  font-size: 2em;
}

.button {
  position: relative;
  cursor: pointer;
  background-color: #222222;
  color: white;
  border: none;
  padding: 1em 1.8em;
  border-radius: 1.8em;
  font-size: 0.8em;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button.icon {
  padding-right: 3.4em;
}

@media screen and (max-width: 1600px) {
  #preview {
    width: 45em;
  }
}
@media screen and (max-width: 1000px) {
  #preview {
    width: 30em;
  }
}
